ul {
  list-style-type: none;
  margin: 0;padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);

  .photo-card {
      margin: 10px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  }

  .photo-details {
    position: absolute;
    height: 100%;
    font-size: 1rem;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: #ccc;
  }
}
